@media (min-width: 657px) {
    
    .container {
    display: flex;
    margin-top: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.navcard {
    transition: 0.3s;
    border-top-color: #1f007d;
    border-top-style: double;
    border-top-width: initial;
    border-bottom-color: #1f007d;
    border-bottom-style: double;
    border-bottom-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgba(105, 105, 105, 0.548);
    margin-bottom: 56px;
    word-wrap: break-word;
    width: calc(100% - 65%);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    border-radius: 25px;
}

.navcard:hover {
transition: 0.3s;
border-top-color: #1f007d;
border-top-style: double;
border-top-width: initial;
border-bottom-color: #1f007d;
border-bottom-style: double;
border-bottom-width: initial;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: rgba(105, 105, 105, 0.548);
margin-bottom: 56px;
word-wrap: break-word;
width: calc(100% - 66%);
height: 403px;
display: flex;
flex-direction: column;
justify-content:  space-evenly;
align-items: center;
flex-wrap: nowrap;
align-content: center;
border-radius: 25px;
}

.campos {
    border-bottom-color: #0b0227;
    border-bottom-style: inherit;
    border-bottom-width: thin;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 26px;
    width: 100%;
    height: 30%;
    display: flex;
    text-align: center;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.img {
    width: calc(100% - 20%);
}

}


@media (max-width: 656px) {


    .navcard {
        transition: 0.3s;
        border-top-color: #1f007d;
        border-top-style: double;
        border-top-width: initial;
        border-bottom-color: #1f007d;
        border-bottom-style: double;
        border-bottom-width: initial;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-radius: 25px;
        background-color: rgba(105, 105, 105, 0.548);
        margin-bottom: 56px;
        word-wrap: break-word;
        width: calc(100% - 35%);
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content:  space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
    }

    .navcard:hover {
        transition: 0.3s;
        border-top-color: #1f007d;
        border-top-style: double;
        border-top-width: initial;
        border-bottom-color: #1f007d;
        border-bottom-style: double;
        border-bottom-width: initial;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-radius: 25px;
        background-color: rgba(105, 105, 105, 0.548);
        margin-bottom: 56px;
        word-wrap: break-word;
        width: calc(100% - 36%);
        height: 403px;
        display: flex;
        flex-direction: column;
        justify-content:  space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
    }
    
    .campos {
        border-bottom-color: #0b0227;
        border-bottom-style: inherit;
        border-bottom-width: thin;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-radius: 26px;
        width: 100%;
        height: 25%;
        display: flex;
        text-align: center;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
    
    .img {
        width: calc(100% - 15%);
    }



    .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    }

}

.link {
    width: 115%;
    text-align: center;
    font-size: larger;
    border-radius: 50px;
    white-space: pre-line;
    overflow: revert;
    text-overflow: ellipsis;
    color: white;
    background-color: #324bfb;
    height: 95%;
    margin: 0;
}
.link:hover {
    color: rgb(170, 170, 255);
    width: 117%;
    text-align: center;
    font-size: larger;
    border-radius: 50px;
    white-space: pre-line;
    overflow: revert;
    text-overflow: ellipsis;
    background-color: #6678ff;
    height: 95%;
    margin: 0;
}