.footer {
    width: 100%;
    height: auto;
    margin-top: auto;
    background-color: #000000;
    position: relative;
  }
  
  .social {
    width: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: center;
  }
  
  .copyright {
    position: static;
    bottom: 10%;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 127%;
    color: rgb(33 255 236);
  }
  